.LCLIENTE{
    position: relative;
    left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    }
.LFACTURA
{
        position: relative;
        left: 0px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;

}