

.nombre{


    position: relative;
    left: 0px;
    top: -33px;
}


.Telefono{

    position: relative;
    left: 0px;
    top: 29px;
}
.nombreid{

    position: relative;
    left: 0px;
    top: -19px;
}
.direccionid{

    position: relative;
    left: 0px;
    top: -10px;
}
.telefonoid{

    position: relative;
    left: 0px;
    top: 18px;
}
.retorno{

    position: relative;
    left: 0px;
    top: -1px;
    left: 1021px;


}


@media only screen and (max-width: 1199px)
{
    .retorno{

        position: relative;
        left: 0px;
        top: -1px;
        left: 840px;
    
    
    }

    .nombreid{

        position: relative;
        left: 8px;
        top: -20px;
    }
    .direccionid{
    
        position: relative;
        left: 7px;
        top: -11px;

    }
    .telefonoid{
    
        position: relative;
        left: 7px;
        top: 18px;
    }
    .nombre{


        position: relative;
        left: 0px;
        top: -33px;
        width: 76px;
    }
    
    
    .Telefono{
    
        position: relative;
        left: 0px;
        top: 29px;
        width: 76px;
    }
    .Direccion{

        width: 76px;
    }
    
}


@media only screen and (max-width: 991px)
{
    .retorno{

        position: relative;
        left: 0px;
        top: -1px;
        left: 603px;
    
    
    }

    .nombreid{

        position: relative;
        left: 23px;
        top: -20px;
    }
    .direccionid{
    
        position: relative;
        left: 21px;
        top: -11px;

    }
    .telefonoid{
    
        position: relative;
        left: 20px;
        top: 18px;
    }
    .nombre{


        position: relative;
        left: 0px;
        top: -33px;
        width: 76px;
    }
    
    
    .Telefono{
    
        position: relative;
        left: 0px;
        top: 29px;
        width: 76px;
    }
    .Direccion{

        width: 76px;
    }
    
}
@media only screen and (max-width: 767px)
{
    .retorno{

        position: relative;
        left: 0px;
        top: -1px;
        left: 426px;
    
    
    }

    .nombreid{

        position: relative;
        left: 37px;
        top: -20px;
    }
    .direccionid{
    
        position: relative;
        left: 35px;
        top: -11px;

    }
    .telefonoid{
    
        position: relative;
        left: 35px;
        top: 18px;
    }
    .nombre{


        position: relative;
        left: 0px;
        top: -33px;
        width: 76px;
    }
    
    
    .Telefono{
    
        position: relative;
        left: 0px;
        top: 29px;
        width: 76px;
    }
    .Direccion{

        width: 76px;
    }
    
}
@media only screen and (max-width: 450px)
{
    .retorno{

        position: relative;
  
        top: -1px;
        left: 334px;
    
    
    }
    .nombreid{

        position: relative;
        left: 43px;
        top: -20px;
    }
    .direccionid{
    
        position: relative;
        left: 43px;
        top: -11px;

    }
    .telefonoid{
    
        position: relative;
        left: 43px;   
        top: 18px;
    }
   
    
}

@media only screen and (max-width: 400px)
{
    .retorno{

        position: relative;

        top: -1px;
        left: 284px;
    
    
    }
    .nombreid{

        position: relative;
        left: 49px;
        top: -21px;
    }
    .direccionid{
    
        position: relative;
        left: 49px;
        top: -11px;

    }
    .telefonoid{
    
        position: relative;
        left: 49px;   
        top: 18px;
    }
   
    
}

@media only screen and (max-width: 414px)
{
    .retorno{

        position: relative;

        top: -1px;
        left: 298px;
    
    }
    .nombreid{

        position: relative;
        left: 49px;
        top: -21px;
    }
    .direccionid{
    
        position: relative;
        left: 49px;
        top: -11px;

    }
    .telefonoid{
    
        position: relative;
        left: 49px;   
        top: 18px;
    }
   
    
}


@media only screen and (max-width: 411px)
{
    .retorno{

        position: relative;

        top: -1px;
        left: 294px;
    
    
    }
    .nombreid{

        position: relative;
        left: 49px;
        top: -21px;
    }
    .direccionid{
    
        position: relative;
        left: 49px;
        top: -11px;

    }
    .telefonoid{
    
        position: relative;
        left: 49px;   
        top: 18px;
    }
   
    
}


@media only screen and (max-width: 375px)
{
    .retorno{

        position: relative;

        top: -1px;
        left: 258px;
    
    
    }
  
}


@media only screen and (max-width: 360px)
{
    .retorno{

        position: relative;

        top: -1px;
        left: 243px;
    
    
    }
    .nombreid{

        position: relative;
        left: 54px;
        top: -9px;
    }
    .direccionid{
    
        position: relative;
        left: 54px;
        top: -21px;

    }
    .telefonoid{
    
        position: relative;
        left: 54px;
        top: 6px;
    }
    
}

@media only screen and (max-width: 320px)
{
    .retorno{

        position: relative;

        top: -1px;
        left: 204px;
    
    
    }
  
}
