.titulo1 {
  
 
    width: 1140px;
    height: 52px;
    position: relative;
    left: 70px;
    top: 72px;

  }
  .titulo
  {
      background: white;
  
      /*background-color: aliceblue;*/
      color: black;
      font-family: 'Times New Roman', Times, serif;
  }
  

